body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    background-color: #212825;
   
}
.log{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #a7c4b9;
    text-align: center;
    align-items: center;
    border-radius: 40px;
}
.log h1{
    background: none;
    text-align: center;
    font-size:x-large;
    padding: 8px;
}


.log input[type="text"],.log input[type="password"]{
    background: none;
    padding: 2px 10px;
    text-align: center;
    margin: 12px auto;
    border: 2px solid #2a453b;
    border-radius: 24px;
    width: 200px;
    height: 30px;
    color: #191919;
    display: block;
    outline: none;
    text-decoration: #191919;
}
.log input[type="submit"]{
    width: 120px;
    height: 40px;
    font-size: small;
    background-color: #a7c4b9;
    border-radius: 15px;
    color: #191919;
    text-align: center;
    outline: none;
    border-color: black;
   
}
.log input[type="submit"]:hover{
    width: 150px;
    height: 40px;
    font-size: medium;
    border-radius: 15px;
    background-color: #212825;
    color: white;

}
.log input[type="text"]:focus,.log input[type="password"]:focus{
    width: 250px;
    height: 38px;
    padding: 2px 10px;
    border: 3px solid #b84242;
}
.log a{
   padding: 14px 20px;
   display: inline-block;
   background-color: #a19999;
   color: #191919;
   border-radius: 25px;
   border-style:inherit ;
   border-width: 1px;
   width: 50px;
}